*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(250, 250, 250);
    font-size: 16px;
    line-height: 1;
}

a {
    text-decoration: none;
    color: white;
}

header {
    width: 100%;
    padding: 15px 0;
    background-color: Black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1570px;
    margin: 0 auto;
    list-style: none;

}


.main {
    position: relative;
    background: url("/assets/images/background.jpg") no-repeat;
    background-color: antiquewhite;
    background-size: cover;
    min-height: 833px;
}

.profile-container{
       background-color: white;
     background: rgba(0, 0, 0, 0.8);
     width: 55%;
      margin: auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-img{
        width: 300px;
        height: 300px;
        border: 5px solid #515151;}
.profile-img img{
    height: 100%;
        width: auto;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    margin-bottom: 110px;
}

h2{
    padding-bottom: 30px;
    font-family:sans-serif;
    color: white;    
}

.logout{
    margin-top: 165px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 6px;
    box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.1);
    color: white;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(99, 97, 97, 1) 45%, rgba(106, 106, 106, 1) 55%, rgba(0, 0, 0, 1) 100%);
}
.logout:hover{
     background: linear-gradient(90deg, rgba(99, 97, 97, 1) 0%, rgba(0, 0, 0, 1) 45%, rgba(0, 0, 0, 1) 55%, rgba(106, 106, 106, 1) 100%);
}

.user-tracks{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 35px 45px;
    background-color: white;
    background: rgba(0, 0, 0, 0.5);
    height: 450px;
    
}

.track{
height: 150px;
width: 100% auto;
background: yellow;
}
.phototrack{
    width: 300px;
    height: 300px;
    border: 5px solid #515151;
}
.phototrack img{
    height: 100%;
    width: auto;
}
/*
    padding: 5vh 6vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    background: rgba(0, 0, 0, 0.8);
}
*/

footer {
    background-color: black;
}

.footer-line {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.footer-description {
    color: white;
}

