*,
*:after,
*:before {
    font-family: Roboto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    font-size: 16px;
    line-height: 1;
    position: relative;
    background: url("/assets/images/qwe.jpg") no-repeat;
    background-size: cover;
}
h2{
    font-size: 1.5rem;
    width: 100%;
    color: #E13487;
    margin-bottom: 1.5rem;
}
.genre{
    font-size: 0.8rem;
    color: #E13487;
    margin: .5rem 0 auto 0;
}
.trackname{
    min-width: 100%;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}


audio{
    max-height: 2rem;
    min-width: 515px;
}
header {
    width: 100%;
    padding: 5px 0;
    background-color: Black;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1570px;
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.main{
    margin: auto 0;
    flex: 1;
    max-height: 80%;
}
.wrapper{
    max-height: 100%;
    overflow-y: scroll;
    max-width: 1570px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0,0,0, .4);
    background-color: white;
    background: rgba(0, 0, 0, 0.5);

}
::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-track {  background-color: white;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #E13487; border-radius: 3px;}

.tracks {
    display: flex;
    justify-content: space-around;
    min-height: 140px;

}
.track-description{
    padding:0 15px ;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.header-item_track {
    margin-bottom: 18px;
    width: 150px;
    height: 10px;
    display: block;
    text-align: center;
}

.header-item_track > a {
    display: block;
    border: 1px solid #ffff;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto
}
.header-button {
    display: none;
}
.header-menu {
    display: none;
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #212121;
  
    
}
.header-menu.show {
    display: flex;
}
.header-menu_item:not(:first-child) {
    margin-top: 1rem;
}
.registration {
    display: flex;
    align-items: center;
}
.user {
    margin-right: 1rem;
}
.phototrack {
    display: flex;
    justify-content: flex-start;
}
.phototrack-name {
    display: none;
}

.phototrack img {
    object-fit: cover;
    border: 2px solid white;
    width: 100px;
    height: 100px;
    border-radius: 3px;
}
footer{
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1570px;
    width: 90%;
    margin: 0 auto;
}
.footer-text{
    color: white;
    display: flex;
    align-items: center;
}

.footer-links{
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
}

.footer-decription {
    color: white;
}

.footer-logo{
    color: white;
    width: 130px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}

@media all and (max-width: 800px) {
    .header-item {
        display: none;
    }
    .registration {
        margin: 0 2rem 0 auto;
    }
    .header-button {
        display: block;
    }
    .tracks {
        flex-direction: column;
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .track-info {
        display: none;
    }
    .phototrack-name {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    .phototrack img {
        margin-right: 1rem;
        height: 80px;
        width: 80px;
    }
    .track-description {
        margin-left: 0;
        width: 100%;
    }
    .track-description audio {
        width: 100%;
        min-width: auto;
    }
    .wrapper {
        width: 100%;
        padding: 1rem;
    }
    .main {
        max-height: 70%;
    }
}

@media all and (max-width: 700px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem 0;
    }
    .footer-links {
        margin-right: 0;
        width: 80%;
    }
    .footer-item:not(:last-child) {
        margin-top: .8rem;
    }
}
