*,
*:after,
*:before {
    font-family: Roboto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(250, 250, 250);
    font-size: 16px;
    line-height: 1;
}

a {
    text-decoration: none;
    color: white;
}
#output{
    width: 100%;
    margin: 20px;
    height: 300px;
    
}


header {
    width: 100%;
    padding: 5px 0;
    background-color: Black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1570px;
    margin: 0 auto;
    list-style: none;
}

.main {
    position: relative;
    background: url("../images/qwe.jpg") no-repeat;
    background-color: antiquewhite;
    background-size: cover;
}

.wraper {
    padding: 15px;
    width: 95%;
    max-width: 1600px;
    margin: auto;
    min-height: 85.9vh;
    display: flex;
    justify-content: space-between;

}


.header-item_track {
  margin-bottom: 18px;
  width: 150px;
  height: 10px;
  display: block;
  text-align: center;
}
.header-item_track > a {
  display: block;
  border: 1px solid #ffff;
  padding: 5px;
  border-radius: 4px;
  margin: 0 auto
}
.wraper{
    min-height: 86vh;
}
.form-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 55%;
    padding: 23px;
    border-radius: 25px;
    font-family: sans-serif;
    background: rgba(0,0,0, 0.8);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.input-user-name {
    padding: 10px;
    margin: 10px;
    width: 75%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: white;
    color: white;
    outline: none;
}

.input-track-name {
    padding: 10px;
    margin: 10px;
    width: 75%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: white;
    color: white;
    outline: none;
}
input::placeholder{
    color: white;
}
.input-submit {
    cursor: pointer;
    border: unset;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    height: 5vh;
    width : 10vw;
    background:#95295D;
}
.input-submit:hover{
    background: white;
    color:black;
}

.download-track {
    border: 1px solid #ffff;
    border-radius: 5px;
    background: black;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
}


.form-prerender {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-img {
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid #ffff;
    background: black;
    width: 350px;
    height: 35px;
    color: #fff;
    font-weight: bold;
}

.form-window {
    background: #95295D;
    width: 100%;
    border: 1px solid #ffff;
    margin: 20px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0 1px 10px #ccc;
    overflow: hidden;
}
.preview-image{
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
}

footer{
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 1570px;
    margin: 0 175px;
}
.footer-text{
    display: flex;
    align-items: center;
}

.footer-links{
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
}

.footer-description {
    color: white;
}

.footer-logo{
    width: 130px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
}