*,
*:after,
*:before {
    font-family: Roboto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    font-size: 16px;
    line-height: 1;
    position: relative;
    background: url("/assets/images/qwe.jpg") no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

#output {
    width: 100%;
    margin: 20px;
    height: 300px;

}


header {
    width: 100%;
    padding: 5px 0;
    background-color: Black;
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    max-width: 1570px;
    width: 90%;
    margin: 0 auto;
    list-style: none;
}

.main {
    margin: auto 0;
    flex: 1;
    max-height: 80%;
}

.wraper {
    max-height: 100%;
    max-width: 1570px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
}


.header-item_track {
    margin-bottom: 18px;
    width: 150px;
    height: 10px;
    display: block;
    text-align: center;
}

.header-item_track > a {
    display: block;
    border: 1px solid #ffff;
    padding: 5px;
    border-radius: 4px;
    margin: 0 auto
}
.header-button {
    display: none;
}
.header-menu {
    display: none;
    z-index: 100;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #212121;
  
    
}
.header-menu.show {
    display: flex;
}
.header-menu_item:not(:first-child) {
    margin-top: 1rem;
}
.registration {
    display: flex;
    align-items: center;
}
.user {
    margin-right: 1rem;
}
.wraper {
    min-height: 86vh;
}

.form-download {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 55%;
    padding: 23px;
    border-radius: 25px;
    font-family: sans-serif;
    background: rgba(0, 0, 0, 0.8);
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.form-input-container {
    display: flex;
    min-height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.input-user-name {
    padding: 10px;
    margin: 10px;
    width: 75%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: white;
    color: white;
    outline: none;
}

.input-track-name {
    padding: 10px;
    margin: 10px;
    width: 75%;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: white;
    color: white;
    outline: none;
}

input::placeholder {
    color: white;
}

.input-submit {
    cursor: pointer;
    border: unset;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    height: 5vh;
    width: 10vw;
    background: #95295D;
}

.input-submit:hover {
    background: white;
    color: black;
}

.download-track {
    border: 1px solid #ffff;
    border-radius: 5px;
    background: black;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
}


.form-prerender {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-img {
    border-radius: 9px;
    cursor: pointer;
    border: 1px solid #ffff;
    background: black;
    width: 350px;
    height: 35px;
    color: #fff;
    font-weight: bold;
}

.form-window {
    background: #151515;
    width: 100%;
    border: 1px solid #ffff;
    margin: 20px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
}

.preview-image {
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.track-name{
      outline:none;
    text-align: center;
    min-width: 100%;
    background: rgba(0,0,0, 0);
    color: white;
    border: none;
    
}
.genre {
    color: white;
    font-size: 20px;
}

.genre-select {
    font-size: 14px;
    font-family: Roboto;
    color: white;
    padding: 10px 5px;
    border: 1px solid #aaa;
    border-radius: 4px;
    background-color: black;
}



.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1vh;
}

footer {
    background-color: black;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1570px;
    width: 90%;
    margin: 0 auto;
}

.footer-text{
    color: white;
    display: flex;
    align-items: center;
}

.footer-links{
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
}

.footer-description {
    color: white;
}

.footer-logo {
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media all and (max-width: 800px) {
    .header-item {
        display: none;
    }
    .registration {
        margin: 0 2rem 0 auto;
    }
    .header-button {
        display: block;
    }
    .main {
        max-height: 70%;
    }
    .form-container{
      flex-direction: column;
    }
}

@media all and (max-width: 700px) {
    .footer {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem 0;
    }
    .footer-links {
        margin-right: 0;
        width: 80%;
    }
    .footer-item:not(:last-child) {
        margin-top: .8rem;
    }
}

